<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Command line suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c3fd8b">  <td>20/10/13 11:19:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup()[pri:0, instance:testCases.splash.SplashResponseValidations@7c0e2abd]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="75828b">  <td>20/10/13 11:19:18</td>   <td>119</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SplashBeforeTest.start()[pri:0, instance:testCases.splash.SplashResponseValidations@7c0e2abd]">&gt;&gt;start</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="75828b">  <td>20/10/13 11:19:18</td>   <td>134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SplashBeforeTest.setUp()[pri:0, instance:testCases.splash.SplashResponseValidations@7c0e2abd]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="8d66b2">  <td>20/10/13 11:19:19</td>   <td>1241</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SplashResponseValidations.WithUserSplashRequest()[pri:5, instance:testCases.splash.SplashResponseValidations@7c0e2abd]">WithUserSplashRequest</td> 
  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="75828b">  <td>20/10/13 11:19:31</td>   <td>13114</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SplashBeforeTest.tearDown()[pri:0, instance:testCases.splash.SplashResponseValidations@7c0e2abd]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="c3fd8b">  <td>20/10/13 11:19:31</td>   <td>13117</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup()[pri:0, instance:testCases.logIn.LoginResponseValidation@48eff760]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="d6a3a2">  <td>20/10/13 11:19:31</td>   <td>13121</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginBeforeTest.start()[pri:0, instance:testCases.logIn.LoginResponseValidation@48eff760]">&gt;&gt;start</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="d6a3a2">  <td>20/10/13 11:19:31</td>   <td>13121</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginBeforeTest.setUp()[pri:0, instance:testCases.logIn.LoginResponseValidation@48eff760]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="99699c">  <td>20/10/13 11:19:31</td>   <td>13123</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginResponseValidation.InvalidMPinLogin()[pri:1, instance:testCases.logIn.LoginResponseValidation@48eff760]">InvalidMPinLogin</td> 
  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="d6a3a2">  <td>20/10/13 11:19:32</td>   <td>13997</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginBeforeTest.setUp()[pri:0, instance:testCases.logIn.LoginResponseValidation@48eff760]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="99699c">  <td>20/10/13 11:19:32</td>   <td>13998</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginResponseValidation.LoginRequest()[pri:2, instance:testCases.logIn.LoginResponseValidation@48eff760]">LoginRequest</td> 
  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="d6a3a2">  <td>20/10/13 11:19:33</td>   <td>15162</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginBeforeTest.tearDown()[pri:0, instance:testCases.logIn.LoginResponseValidation@48eff760]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="c3fd8b">  <td>20/10/13 11:19:33</td>   <td>15163</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup()[pri:0, instance:testCases.logout.LogoutResponseValidation@402f32ff]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="baba74">  <td>20/10/13 11:19:33</td>   <td>15166</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LogoutBeforeTest.start()[pri:0, instance:testCases.logout.LogoutResponseValidation@402f32ff]">&gt;&gt;start</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="baba74">  <td>20/10/13 11:19:33</td>   <td>15167</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LogoutBeforeTest.setUp()[pri:0, instance:testCases.logout.LogoutResponseValidation@402f32ff]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="b5cdba">  <td>20/10/13 11:19:33</td>   <td>15168</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LogoutResponseValidation.LogoutRequest()[pri:1, instance:testCases.logout.LogoutResponseValidation@402f32ff]">LogoutRequest</td> 
  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="baba74">  <td>20/10/13 11:19:34</td>   <td>15601</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LogoutBeforeTest.tearDown()[pri:0, instance:testCases.logout.LogoutResponseValidation@402f32ff]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2094411587</td>   <td></td> </tr>
</table>
